<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body style="text-align:center;background-color="green">
<h1 style="color:yellow"><b><u>LOGIN </u></b></h1>
<form action="login" method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="Cn3MoWMxvtsvhJSWRvrQvxiwUQL0cPqzppcejmhHaBmrrV73tdHRnVL9e2wIdOXT">
    <input type="text" name="username" placeholder="Enter your Username"><br>
    <input type="password" name="password" placeholder="Enter your Password"><br>
    <input type="submit"><br>
    <a href="register" style="color:blue" >Click here to register</a>
</form>
</body>
</html>
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>login</title>-->
<!--</head>-->
<!--<body style="color:green;font-family:Roboto;font-size:40;text-align=center;">-->
<!--<h3>login</h3>-->
<!--<form action="login" method="post">-->
<!--    {% csrf_token %}-->
<!--    <input type ="text" name="Username" placeholder="enter your Username"><br>-->
<!--    <input type ="password" name="password" placeholder="enter password"><br>-->
<!--    <input type ="submit"><br>-->
<!--    <a href="register">click here to register</a>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->